<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required>
        <label for="email">Email:</label> <!-- Email input -->
        <input type="email" id="email" name="email"><br><br>
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
</form>
{% endblock %}
